<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="false"
        android:label="HassGlass Agent"
        android:supportsRtl="true">
        <service
            android:name=".HassGlassAgentService"
            android:exported="false"
            android:foregroundServiceType="microphone" />
    </application>
</manifest>
